### Create a table from latex to excel

In [1]:
import pandas as pd
import os
import warnings
warnings.filterwarnings("ignore")

In [2]:

# Create a dictionary with your data
data = {
    'Model': ['Top75Pr', 'Top50Pr', 'Top25Pr', 'Top10Pr', 'average'],
    'LSTM (Efficiency Gains)': [2.61, 2.38, 0.97, -0.84, 1.28],
    'DTW (Efficiency Gains)': [2.28, 2.58, 3.23, 3.20, 2.82],
    'KNN (Efficiency Gains)': [0.50, 0.98, 1.58, 2.13, 1.3],
    'HMM (Efficiency Gains)': [9.31, 7.34, 1.30, 6.05, 6.0],
    'LSTM (Counts of Improved Voyages)': [134, 129, 100, 60, 105.75],
    'DTW (Counts of Improved Voyages)': [119, 117, 128, 127, 122.75],
    'KNN (Counts of Improved Voyages)': [93, 106, 107, 114, 105],
    'HMM (Counts of Improved Voyages)': [141, 140, 107, 139, 131.75]
}

# Create a DataFrame from the data
df = pd.DataFrame(data)


# Create a DataFrame from the updated data
df = pd.DataFrame(data)

# # Write the DataFrame to an Excel file
# df.to_excel('Table_gains_counts.xlsx', index=False)

In [3]:
df

,Model,LSTM (Efficiency Gains),DTW (Efficiency Gains),KNN (Efficiency Gains),HMM (Efficiency Gains),LSTM (Counts of Improved Voyages),DTW (Counts of Improved Voyages),KNN (Counts of Improved Voyages),HMM (Counts of Improved Voyages)
0,Top75Pr,2.61,2.28,0.50,9.31,134.00,119.00,93,141.00
1,Top50Pr,2.38,2.58,0.98,7.34,129.00,117.00,106,140.00
2,Top25Pr,0.97,3.23,1.58,1.30,100.00,128.00,107,107.00
3,Top10Pr,-0.84,3.20,2.13,6.05,60.00,127.00,114,139.00
4,average,1.28,2.82,1.30,6.00,105.75,122.75,105,131.75

In [4]:
df_statistics = df.iloc[:-1].describe()
df_statistics

,LSTM (Efficiency Gains),DTW (Efficiency Gains),KNN (Efficiency Gains),HMM (Efficiency Gains),LSTM (Counts of Improved Voyages),DTW (Counts of Improved Voyages),KNN (Counts of Improved Voyages),HMM (Counts of Improved Voyages)
count,4.000000,4.000000,4.000000,4.00000,4.000000,4.000000,4.00000,4.00000
mean,1.280000,2.822500,1.297500,6.00000,105.750000,122.750000,105.00000,131.75000
std,1.588437,0.469636,0.709384,3.40804,33.984065,5.560276,8.75595,16.52019
min,-0.840000,2.280000,0.500000,1.30000,60.000000,117.000000,93.00000,107.00000
25%,0.517500,2.505000,0.860000,4.86250,90.000000,118.500000,102.75000,131.00000
50%,1.675000,2.890000,1.280000,6.69500,114.500000,123.000000,106.50000,139.50000
75%,2.437500,3.207500,1.717500,7.83250,130.250000,127.250000,108.75000,140.25000
max,2.610000,3.230000,2.130000,9.31000,134.000000,128.000000,114.00000,141.00000

In [5]:
df.iloc[:-1]

,Model,LSTM (Efficiency Gains),DTW (Efficiency Gains),KNN (Efficiency Gains),HMM (Efficiency Gains),LSTM (Counts of Improved Voyages),DTW (Counts of Improved Voyages),KNN (Counts of Improved Voyages),HMM (Counts of Improved Voyages)
0,Top75Pr,2.61,2.28,0.50,9.31,134.0,119.0,93,141.0
1,Top50Pr,2.38,2.58,0.98,7.34,129.0,117.0,106,140.0
2,Top25Pr,0.97,3.23,1.58,1.30,100.0,128.0,107,107.0
3,Top10Pr,-0.84,3.20,2.13,6.05,60.0,127.0,114,139.0

In [6]:
import tensorflow as tf
print(tf.__version__)

2.8.0

In [7]:
import tensorflow as tf
print("TensorFlow version:", tf.__version__)

TensorFlow version: 2.8.0

In [8]:
import keras
print(keras.__version__)

2.8.0

In [12]:
### Python
import sys
sys.version

'3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]'