### Statisical analysis on some results of the four models

In [1]:
import pandas as pd
import os
import warnings
warnings.filterwarnings("ignore")

# Get current working directory
current_dir = os.getcwd()

print("Current directory:", current_dir)

# Name the new folder
Output_folder_main='Stats_Analysis_Diffs_Gains_AllQs_v1'

Current directory: C:\Users\mohabu\iHelm\TSA4EESSS\Stats_Results_v1

In [2]:
# Output_folder = Output_folder_main+'/SampLSTM_'+str(SampNo_lstm)+'/NMS_'+str(nth_mid_sth_fg)+'/EffTp_'+str(Eff_limit_combs[0])+'/GrOck_'+str(gr_ock_fg)+'_loc_'+str(local_Eff_fg)+'_inps_'+str(var_inputs_combs[0])+'_lag_'+str(lag_test_combs[0])

Output_folder=Output_folder_main
## Create the output folder
folder_path = r''+Output_folder
if not os.path.exists(folder_path):
    os.makedirs(folder_path)

In [3]:
df_meas_pred_q={}

for Qr in ['Top75', 'Top50', 'Top25', 'Top10']:
    df_list = []
    for mod in ['LSTM', 'DTW', 'KNN', 'HMM']:
        file_name = mod + '_Eff_test_meas_pred_' + Qr + '.xlsx'
        df_mod_q = pd.read_excel('Results/' + file_name)
        df_mod_q = df_mod_q.rename(columns={'Unnamed: 0': 'index'})
        df_meas = df_mod_q[['index', 'Voyage', 'Weather_State', 'Weather_String', 'fuel_meas', 'time_meas', 'eff_meas']]
        
        # Rename columns with suffix based on 'mod'
        cols_old = ['fuel_pred', 'time_pred', 'eff_pred', 'eff_diff', 'eff_gain']
        cols_new = ['fuel_pred_'+mod, 'time_pred_'+mod, 'eff_pred_'+mod, 'eff_diff_'+mod, 'eff_gain_'+mod]
        column_mapping = dict(zip(cols_old, cols_new))
        df_mod_q = df_mod_q.rename(columns=column_mapping)

        # Append the concatenated DataFrame to the list
        df_list.append(df_mod_q[cols_new])


    # Create the final DataFrame by concatenating all DataFrames in the list side by side
    df_meas_pred_q[Qr] = pd.concat(df_list, axis=1)
    df_meas_pred_q[Qr] = pd.concat([df_meas, df_meas_pred_q[Qr]], axis=1)

# df_meas_pred_q

In [4]:
df_meas_pred_q['Top10']

,index,Voyage,Weather_State,Weather_String,fuel_meas,time_meas,eff_meas,fuel_pred_LSTM,time_pred_LSTM,eff_pred_LSTM,...,fuel_pred_KNN,time_pred_KNN,eff_pred_KNN,eff_diff_KNN,eff_gain_KNN,fuel_pred_HMM,time_pred_HMM,eff_pred_HMM,eff_diff_HMM,eff_gain_HMM
0,0,885.000000,1.000000,moderate_weather,5.610000,10.650000,0.606280,4.850000,11.070000,0.625143,...,5.150000,10.700000,0.620675,0.014395,2.374319,4.550000,11.480000,0.630700,0.024420,4.027881
1,1,905.000000,1.000000,moderate_weather,3.190000,11.610000,0.696861,3.590000,10.810000,0.684281,...,3.440000,10.710000,0.693122,-0.003739,-0.536547,3.630000,10.740000,0.683189,-0.013672,-1.961918
2,2,639.000000,1.000000,moderate_weather,5.170000,14.250000,0.562785,3.990000,14.850000,0.617574,...,3.920000,14.790000,0.622334,0.059549,10.581085,4.150000,14.770000,0.609046,0.046261,8.219990
3,3,559.000000,1.000000,moderate_weather,6.450000,12.750000,0.537304,5.110000,13.380000,0.577941,...,5.090000,13.450000,0.577802,0.040497,7.537133,5.260000,13.270000,0.573095,0.035790,6.661063
4,4,840.000000,2.000000,calm_weather,5.700000,10.280000,0.611145,5.300000,10.480000,0.619737,...,4.920000,11.180000,0.620579,0.009433,1.543568,6.460000,9.210000,0.616178,0.005033,0.823479
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,159,131.000000,2.000000,calm_weather,4.170000,11.700000,0.644510,3.820000,12.260000,0.654847,...,4.340000,11.700000,0.636671,-0.007839,-1.216280,5.020000,10.330000,0.632115,-0.012395,-1.923145
160,160,513.000000,2.000000,calm_weather,4.400000,13.620000,0.608442,4.560000,15.100000,0.582635,...,3.840000,14.160000,0.633250,0.024808,4.077347,5.810000,10.780000,0.597341,-0.011101,-1.824492
161,161,602.000000,1.000000,moderate_weather,5.090000,11.180000,0.614158,4.880000,11.460000,0.617452,...,5.190000,11.200000,0.610123,-0.004035,-0.656917,4.680000,11.710000,0.621655,0.007497,1.220732
162,sum,102540.000000,149.000000,Total,893.750000,1926.270000,95.670180,767.909973,2091.690000,98.107928,...,789.200012,2067.230000,97.609579,1.939399,345.179702,738.510010,2185.930000,101.211750,5.541569,979.831422
163,avg,632.962963,0.919753,extreme_weather,5.516976,11.890556,0.590557,4.740184,12.911667,0.605604,...,4.871606,12.760679,0.602528,0.011972,2.130739,4.558704,13.493395,0.624764,0.034207,6.048342

In [5]:
##import data
#############
df_90 = df_meas_pred_q['Top10']
df_75 = df_meas_pred_q['Top25']
df_50 = df_meas_pred_q['Top50']
df_25 = df_meas_pred_q['Top75']


df_90 = df_90.drop(df_90.index[:-2])
df_90.index = ['Top10', 'Top10']
df_75 = df_75.drop(df_75.index[:-2])
df_75.index = ['Top25', 'Top25']
df_50 = df_50.drop(df_50.index[:-2])
df_50.index = ['Top50', 'Top50']
df_25 = df_25.drop(df_25.index[:-2])
df_25.index = ['Top75', 'Top75']

In [6]:
df_stats= pd.concat([df_25, df_50, df_75, df_90], axis=0)

print(df_stats.shape)
print(648/4)

(8, 27)
162.0

In [7]:
df_stats

,index,Voyage,Weather_State,Weather_String,fuel_meas,time_meas,eff_meas,fuel_pred_LSTM,time_pred_LSTM,eff_pred_LSTM,...,fuel_pred_KNN,time_pred_KNN,eff_pred_KNN,eff_diff_KNN,eff_gain_KNN,fuel_pred_HMM,time_pred_HMM,eff_pred_HMM,eff_diff_HMM,eff_gain_HMM
Top75,sum,102540.000000,149.000000,Total,893.750001,1926.270000,95.670180,842.820007,2083.170000,94.920654,...,833.859999,2039.280000,96.087018,0.416837,80.440115,773.940000,2477.460000,104.180106,8.509925,1508.048998
Top75,avg,632.962963,0.919753,extreme_weather,5.516975,11.890556,0.590557,5.202592,12.859074,0.585930,...,5.147284,12.588148,0.593130,0.002573,0.496544,4.777407,15.292963,0.643087,0.052530,9.308944
Top50,sum,102540.000000,149.000000,Total,893.750001,1926.270000,95.670180,785.859985,2150.230000,96.574919,...,816.210002,2058.210000,96.571629,0.901448,159.473913,623.750000,2970.460000,102.442813,6.772633,1189.470093
Top50,avg,632.962963,0.919753,extreme_weather,5.516975,11.890556,0.590557,4.850986,13.273025,0.596141,...,5.038333,12.705000,0.596121,0.005564,0.984407,3.850309,18.336173,0.632363,0.041806,7.342408
Top25,sum,102540.000000,149.000000,Total,893.750001,1926.270000,95.670180,768.380005,2102.690000,97.881041,...,799.070003,2068.960000,97.071169,1.400988,255.223360,885.920002,1944.340000,96.822079,1.151898,211.395417
Top25,avg,632.962963,0.919753,extreme_weather,5.516975,11.890556,0.590557,4.743086,12.979568,0.604204,...,4.932531,12.771358,0.599205,0.008648,1.575453,5.468642,12.002099,0.597667,0.007110,1.304910
Top10,sum,102540.000000,149.000000,Total,893.750000,1926.270000,95.670180,767.909973,2091.690000,98.107928,...,789.200012,2067.230000,97.609579,1.939399,345.179702,738.510010,2185.930000,101.211750,5.541569,979.831422
Top10,avg,632.962963,0.919753,extreme_weather,5.516976,11.890556,0.590557,4.740184,12.911667,0.605604,...,4.871606,12.760679,0.602528,0.011972,2.130739,4.558704,13.493395,0.624764,0.034207,6.048342

### Statistics of Eff Gains

In [15]:
filtered_columns = df_stats.filter(like='eff', axis=1)
filtered_columns = filtered_columns.drop(columns=filtered_columns.filter(like='eff_meas').columns)
filtered_columns = filtered_columns.drop(columns=filtered_columns.filter(like='eff_pred').columns)
filtered_columns = filtered_columns.drop(columns=filtered_columns.filter(like='eff_diff').columns)

filtered_columns.insert(0, 'index', df_stats['index'])
filtered_columns

      index  eff_gain_LSTM  eff_gain_DTW  eff_gain_KNN  eff_gain_HMM
Top75   sum    -136.423326    369.179788     80.440115   1508.048998
Top75   avg      -0.842119      2.278888      0.496544      9.308944
Top50   sum     156.503024    418.726216    159.473913   1189.470093
Top50   avg       0.966068      2.584730      0.984407      7.342408
Top25   sum     385.045482    523.115253    255.223360    211.395417
Top25   avg       2.376824      3.229106      1.575453      1.304910
Top10   sum     423.008446    519.059192    345.179702    979.831422
Top10   avg       2.611163      3.204069      2.130739      6.048342

In [16]:
df_stats_sum = filtered_columns[df_stats['index'] != 'avg']
df_stats_avg = filtered_columns[df_stats['index'] != 'sum']

# Calculate the average of all columns
average_row = df_stats_sum.select_dtypes(include='number').mean()
df_stats_sum = df_stats_sum.append(average_row, ignore_index=True)
df_stats_sum = df_stats_sum.rename(index={df_stats_sum.index[-1]: 'average'})

# Calculate the average of all columns
average_row = df_stats_avg.select_dtypes(include='number').mean()
df_stats_avg = df_stats_avg.append(average_row, ignore_index=True)
df_stats_avg = df_stats_avg.rename(index={df_stats_avg.index[-1]: 'average'})

df_stats_sum.index = ['Top75', 'Top50', 'Top25', 'Top10', 'average']
df_stats_avg.index = ['Top75', 'Top50', 'Top25', 'Top10', 'average']

# Remove 'eff_gain' from the column names
df_stats_avg.columns = df_stats_avg.columns.str.replace('eff_gain_', '')
df_stats_avg = df_stats_avg.iloc[:, 1:]

# Remove 'eff_gain' from the column names
df_stats_sum.columns = df_stats_sum.columns.str.replace('eff_gain_', '')
df_stats_sum = df_stats_sum.iloc[:, 1:]


# Save the results to an Excel file
df_stats_sum.round(2).to_excel(Output_folder+"/All_eff_gains_sum.xlsx")
# Save the results to an Excel file
df_stats_avg.round(2).to_excel(Output_folder+"/All_eff_gains_avg.xlsx")

df_stats_avg

             LSTM       DTW       KNN       HMM
Top75   -0.842119  2.278888  0.496544  9.308944
Top50    0.966068  2.584730  0.984407  7.342408
Top25    2.376824  3.229106  1.575453  1.304910
Top10    2.611163  3.204069  2.130739  6.048342
average  1.277984  2.824198  1.296786  6.001151

In [17]:
df_stats_sum

               LSTM         DTW         KNN          HMM
Top75   -136.423326  369.179788   80.440115  1508.048998
Top50    156.503024  418.726216  159.473913  1189.470093
Top25    385.045482  523.115253  255.223360   211.395417
Top10    423.008446  519.059192  345.179702   979.831422
average  207.033407  457.520112  210.079272   972.186482

### Statistics of Eff Diffs

In [11]:
# st=stop

In [12]:
filtered_columns2 = df_stats.filter(like='eff', axis=1)
filtered_columns2 = filtered_columns2.drop(columns=filtered_columns2.filter(like='eff_meas').columns)
filtered_columns2 = filtered_columns2.drop(columns=filtered_columns2.filter(like='eff_pred').columns)
filtered_columns2 = filtered_columns2.drop(columns=filtered_columns2.filter(like='eff_gain').columns)

filtered_columns2.insert(0, 'index', df_stats['index'])
filtered_columns2

      index  eff_diff_LSTM  eff_diff_DTW  eff_diff_KNN  eff_diff_HMM
Top75   sum      -0.749526      2.015000      0.416837      8.509925
Top75   avg      -0.004627      0.012438      0.002573      0.052530
Top50   sum       0.904739      2.308828      0.901448      6.772633
Top50   avg       0.005585      0.014252      0.005564      0.041806
Top25   sum       2.210861      2.946372      1.400988      1.151898
Top25   avg       0.013647      0.018187      0.008648      0.007110
Top10   sum       2.437748      2.928345      1.939399      5.541569
Top10   avg       0.015048      0.018076      0.011972      0.034207

In [13]:
df_stats_sum = filtered_columns2[df_stats['index'] != 'avg']
df_stats_avg = filtered_columns2[df_stats['index'] != 'sum']

# Calculate the average of all columns
average_row = df_stats_sum.select_dtypes(include='number').mean()
df_stats_sum = df_stats_sum.append(average_row, ignore_index=True)
df_stats_sum = df_stats_sum.rename(index={df_stats_sum.index[-1]: 'average'})

# Calculate the average of all columns
average_row = df_stats_avg.select_dtypes(include='number').mean()
df_stats_avg = df_stats_avg.append(average_row, ignore_index=True)
df_stats_avg = df_stats_avg.rename(index={df_stats_avg.index[-1]: 'average'})

df_stats_sum.index = ['Top75', 'Top50', 'Top25', 'Top10', 'average']
df_stats_avg.index = ['Top75', 'Top50', 'Top25', 'Top10', 'average']


# Remove 'eff_gain' from the column names
df_stats_avg.columns = df_stats_avg.columns.str.replace('eff_diff_', '')
df_stats_avg = df_stats_avg.iloc[:, 1:]

# Remove 'eff_gain' from the column names
df_stats_sum.columns = df_stats_sum.columns.str.replace('eff_diff_', '')
df_stats_sum = df_stats_sum.iloc[:, 1:]


# Save the results to an Excel file
df_stats_sum.round(2).to_excel(Output_folder+"/All_eff_diffs_sum.xlsx")
# Save the results to an Excel file
df_stats_avg.round(2).to_excel(Output_folder+"/All_eff_diffs_avg.xlsx")

df_stats_avg

             LSTM       DTW       KNN       HMM
Top75   -0.004627  0.012438  0.002573  0.052530
Top50    0.005585  0.014252  0.005564  0.041806
Top25    0.013647  0.018187  0.008648  0.007110
Top10    0.015048  0.018076  0.011972  0.034207
average  0.007413  0.015738  0.007189  0.033914

In [14]:
df_stats_sum

             LSTM       DTW       KNN       HMM
Top75   -0.749526  2.015000  0.416837  8.509925
Top50    0.904739  2.308828  0.901448  6.772633
Top25    2.210861  2.946372  1.400988  1.151898
Top10    2.437748  2.928345  1.939399  5.541569
average  1.200955  2.549636  1.164668  5.494007